# mail address of the sender
SENDER_EMAIL = <sender-email@domain.com>
# mail address of the receiver, separated by comma if there are multiple receivers
RECIPIENT_LIST = <receiver1@domain.com>, <receiver2@domain.com>
# App password for the sender email, generated in the email account settings
SMTP_PASSWD = <Mail-App-Password>